<?xml version="1.0"?>
<config>
    <modules>
        <Nextorder_Restconnect>
            <version>0.1.0</version>
        </Nextorder_Restconnect>
    </modules>
    <global>
        <helpers>
            <restconnect>
                <class>Nextorder_Restconnect_Helper</class>
            </restconnect>
        </helpers>
        <blocks>
            <restconnect>
                <class>Nextorder_Restconnect_Block</class>
            </restconnect>
        </blocks>
        <models>
            <restconnect>
                <class>Nextorder_Restconnect_Model</class>
            </restconnect>
        </models>
    </global>
    <frontend>
            <routers>
                <restconnect>
                    <use>standard</use>
                    <args>
                        <module>Nextorder_Restconnect</module>
                        <frontName>restconnect</frontName>
                    </args>
                </restconnect>
            </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <restconnect before="Mage_Oauth_Adminhtml">Nextorder_Restconnect_Adminhtml</restconnect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>