<?xml version="1.0"?>
<config>
    <modules>
        <Nextorder_Restconnect>
            <version>0.1.0</version>
        </Nextorder_Restconnect>
    </modules>
    <global>
        <helpers>
            <restconnect>
                <class>Nextorder_Restconnect_Helper</class>
            </restconnect>
        </helpers>
        <blocks>
            <restconnect>
                <class>Nextorder_Restconnect_Block</class>
            </restconnect>
        </blocks>
        <models>
            <restconnect>
                <class>Nextorder_Restconnect_Model</class>
            </restconnect>
        </models>
    </global>
    <frontend>
            <routers>
                <restconnect>
                    <use>standard</use>
                    <args>
                        <module>Nextorder_Restconnect</module>
                        <frontName>restconnect</frontName>
                    </args>
                </restconnect>
            </routers>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <restconnect before="Mage_Oauth_Adminhtml">Nextorder_Restconnect_Adminhtml</restconnect>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <!--<default>-->
        <!--<restconnect>-->
            <!--<settings>-->
                <!--<restfield>a:2:{s:18:"_1448362918255_255";a:4:{s:8:"restRole";s:5:"admin";s:9:"authKonto";s:10:"111";s:6:"authPw";s:7:"222";s:7:"einsatz";s:4:"nein";}s:18:"_1448363049134_134";a:4:{s:8:"restRole";s:8:"customer";s:9:"authKonto";s:8:"333";s:6:"authPw";s:5:"444";s:7:"einsatz";s:4:"nein";}}</restfield>-->
            <!--</settings>-->
        <!--</restconnect>-->
    <!--</default>-->
</config>